.card {
  background-color: white;
  width: calc((100% - 4rem) / 4 );
  min-height: 15rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 4px 4px 7px 0 rgba(51,51,51,0.49);
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  color: #666;

  .centered {
    font-size: 5rem;
    margin: auto;
  }

  &--1 {
    width: 100%;
  }

  &--2 {
    width: calc((100% - 2rem) / 2 );
  }

  &--3 {
    width: calc((100% - 3rem) / 3 );
  }

  &--4 {
    width: calc((100% - 4rem) / 4 );
  }

  &--6 {
    width: calc((100% - 6rem) / 6 );
  }

  &--12 {
    width: calc((100% - 12rem) / 12 );
  }
}
