// todo: import only necessary stuff here
@import '~carbon-components/scss/globals/scss/styles';
@import '~@carbon/charts/styles';

.app {
  margin-left: 320px;

  @media (max-width: 768px) {
    margin-left: 0;
    padding: 0 1rem;
  }
}

body, html {
  background-color: #eee;
}
